<div class="overlay cdk-overlay-container">
    <div class="block d-flex flex-column overlay-form cdk-overlay-pane">
        <!-- Add Application -->
        <header class="block-header">
            <div class="w-100 d-flex align-items-center justify-content-between">
                <h4 class="block-title">
                   User Profile
                </h4>
                <button class="btn btn-xs btn-action border-0" >
                    <span class="icon-close m-0 d-flex icon-sm text-danger"></span>
                </button>
            </div>
        </header>
        <section class="flex-grow-1 overflow-auto d-flex flex-column p-3">
           <button>Submit</button>
        </section>
      
    </div>
</div>